@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */


/* @media (prefers-color-scheme: default) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body { */
  /* background-color: var(--background-color); */
  /* color: var(--text-color); */
  /* color: rgb(var(--foreground-rgb));  */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  /* arco-theme */
/* } */
body {
  color: black;
  background: white;
}
@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background:rgb(22, 22, 23);/*rgba(22, 22, 23, .8);*/
  }
}
.menu-demo {
  box-sizing: border-box;
  width: 100%;
  padding: auto;
  /* background-color: var(--color-neutral-2); */
}

.menu-demo .arco-menu-inner {
  overflow-y: auto;
}

.arco-modal-content {
  position: relative;
  padding: 0px 0px;
  color: var(--color-text-1);
  font-size: 14px;
}
.background {
  background-image: url('https://w.wallhaven.cc/full/4o/wallhaven-4o1po7.jpg');
  background-size: cover;
  background-position: center;
  /* 其他背景样式属性 */
}